name: Nightly Publish Main

on:
  workflow_run:
    workflows: [Nightly PRs to Main]
    types: [completed]

jobs:
  # Run the common workflow to test and publish the main branch
  Nightly_Publish_Main:
    uses: 51Degrees/common-ci/.github/workflows/nightly-publish-main.yml@main
    with:
      repo-name: ${{ github.event.repository.name }}
      build-platform: windows-latest
    secrets:
      token: ${{ secrets.ACCESS_TOKEN }}
      ApiKey: ${{ secrets.NUGET_API_KEY }}
      CodeSigningCertPassword: ${{ secrets.CODE_SIGNING_CERT_PASSWORD }}
      CodeSigningCert: ${{ secrets.CODE_SIGNING_CERT }}
      TestResourceKey: ${{ secrets.SUPER_RESOURCE_KEY}}
